# Nested Tuple Intermediate Questions

In [ ]:
1. Write a Python program to sort a nested tuple by its float element. 
    Data: 
        [('tuple1', '12.20'), ('tuple2', '15.10'), ('tuple3', '24.5')]
    Expected Output: 
        [('tuple3', '24.5'), ('tuple2', '15.10'), ('tuple1', '12.20')]

In [1]:
def sort_tuples_by_float(data):
  
  sorted_data = sorted(data, key=lambda x: float(x[1]), reverse=True)
  return sorted_data


data = [('tuple1', '12.20'), ('tuple2', '15.10'), ('tuple3', '24.5')]
sorted_result = sort_tuples_by_float(data)
print(sorted_result)

[('tuple3', '24.5'), ('tuple2', '15.10'), ('tuple1', '12.20')]

In [ ]:
2. Write a Python program to remove an empty tuple(s) from a list of nested tuples. 
    Data: 
        [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
    Expected output: 
        [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [2]:
L = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]


L = [t for t in L if t]
print(L)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [ ]:
3. Write a Python program to count the elements in a list until an element is a tuple.
    Data:
        [10,20,30,(10,20),40]
    Expected output:
        3

In [3]:
data = [10, 20, 30, (10, 20), 40]
count = 0
for element in data:
    if isinstance(element, tuple):
        break
    count += 1
print(count)

3

In [ ]:
4. Write a Python program to convert a nested tuple of string values into a nested tuple of integer values.
    Data:
        (('333', '33'), ('1416', '55'))
    Expected output:
        ((333, 33), (1416, 55))

In [4]:

def tuple_int_str(tuple_str):
    
    result = tuple((int(x[0]), int(x[1])) for x in tuple_str)
    
    
    return result


tuple_str = (('333', '33'), ('1416', '55'))


print("Original tuple values:")


print(tuple_str)


print("\nNew tuple values:")


print(tuple_int_str(tuple_str))

Original tuple values:
(('333', '33'), ('1416', '55'))

New tuple values:
((333, 33), (1416, 55))

In [ ]:
5. Write a Python program to concat the given two tuples into a nested tuple.
    Data:
        test1 = (1, 2), 
        test2 = (3, 4),
    Expected output:
        The original tuple 1 : ((1, 2),)
        The original tuple 2 : ((3, 4),)
        Tuples after Concatenating : ((1, 2), (3, 4))

In [5]:
test1 = (1, 2)
test2 = (3, 4)

print("The original tuple 1 :", (test1,))
print("The original tuple 2 :", (test2,))

concatenated_tuple = ((test1,) + (test2,))

print("Tuples after Concatenating :", concatenated_tuple)

The original tuple 1 : ((1, 2),)
The original tuple 2 : ((3, 4),)
Tuples after Concatenating : ((1, 2), (3, 4))

In [ ]:
6. Write a Python program to remove duplicate tuples from the given list of tuples.
    Data:
        lst = [(1, 2), (5, 7), (3, 6), (1, 2)] 
    Expected output:
        [(1, 2), (5, 7), (3, 6)]

In [6]:
def remove_duplicates(input_list):
    return list(set(input_list))

lst = [(1, 2), (5, 7), (3, 6), (1, 2)]
unique_lst = remove_duplicates(lst)
print(unique_lst)

[(1, 2), (5, 7), (3, 6)]

In [ ]:
7. Write a Python program to remove 'None' from the given list of tuples.
    Data:
        x = [(None, 2), (None, None), (3, 4), (12, 3), (None, )] \
    Expected output: 
        The original list is : [(None, 2), (None, None), (3, 4), (12, 3), (None,)]
        Removed None Tuples : [(None, 2), (3, 4), (12, 3)]

In [7]:
def remove_none_tuples(data):
    
    new_list = []
    for tup in data:
        if not any(x is None for x in tup):
            new_list.append(tup)
    return new_list

x = [(None, 2), (None, None), (3, 4), (12, 3), (None,)]
print("The original list is :", x)
removed_none_tuples = remove_none_tuples(x)
print("Removed None Tuples :", removed_none_tuples)

The original list is : [(None, 2), (None, None), (3, 4), (12, 3), (None,)]
Removed None Tuples : [(3, 4), (12, 3)]

In [ ]:
8. Write a Python program to find the tuples which contains the given element from a list of tuples.
    Data:
        [(14, 3),(23, 41),(33, 62),(1, 3),(3, 3)] 
    Expected output:
        [(14, 3), (1, 3), (3, 3)]

In [8]:
data = [(14, 3), (23, 41), (33, 62), (1, 3), (3, 3)]
target_element = 3

result = [tup for tup in data if target_element in tup]
print(result)

[(14, 3), (1, 3), (3, 3)]

In [ ]:
9. Write a Python program to convert string values from a given list into a list of tuples, using map() and eval() functions.
    Data:
        ["('Boss', 3)", "('Suresh', 6)", "('Dinesh', 9)"]
    Expected output: 
        The original list is : ["('Boss', 3)", "('Suresh', 6)", "('Dinesh', 9)"]
        The list tuple after conversion : [('Boss', 3), ('Suresh', 6), ('Dinesh', 9)]

In [9]:

data = ["('Boss', 3)", "('Suresh', 6)", "('Dinesh', 9)"]


print("The original list is :", data)

converted_list = list(map(eval, data))


print("The list tuple after conversion :", converted_list)

The original list is : ["('Boss', 3)", "('Suresh', 6)", "('Dinesh', 9)"]
The list tuple after conversion : [('Boss', 3), ('Suresh', 6), ('Dinesh', 9)]

In [ ]:
10. Write a Python program to print only those tuples which has all positive elements in it.
    Data:
        [(4, 5, 9), (-3, 2, 3), (-3, 5, 6), (4, 6)]
    Expected output:
        The original list is : [(4, 5, 9), (-3, 2, 3), (-3, 5, 6), (4, 6)]
        Positive elements Tuples : [(4, 5, 9), (4, 6)]

In [10]:
data = [(4, 5, 9), (-3, 2, 3), (-3, 5, 6), (4, 6)]
print("The original list is :", data)
positive_tuples = []
for tup in data:
    if all(x > 0 for x in tup):
        positive_tuples.append(tup)
print("Positive elements Tuples :", positive_tuples)

The original list is : [(4, 5, 9), (-3, 2, 3), (-3, 5, 6), (4, 6)]
Positive elements Tuples : [(4, 5, 9), (4, 6)]