# Tuples Simple Questions

In [1]:
1. Write a Python program to print convert a list into a tuple.
    Data:
        x = [1,2]
    Expected Output:
        x - [1, 2]
        <class 'list'>
        y - (1, 2)
        <class 'tuple'>

In [1]:
x = [1, 2]
y = tuple(x)
print(f"x - {x} <class '{type(x).__name__}'>")
print(f"y - {y} <class '{type(y).__name__}'>")

x - [1, 2] <class 'list'>
y - (1, 2) <class 'tuple'>

In [2]:
2. Write a Python program to create a tuple with different data types.
    Data:
        x = ("tuples",3.2, 1)
    Expected Output:
        ('tuples', 3.2, 1)

In [2]:
x = ("tuples", 3.2, 1)
print(x)

('tuples', 3.2, 1)

In [3]:
3. Write a Python program to create a tuple with numbers and print the items one by one.
    Data:
        x = 5, 10, 15, 20, 25
    Expected Output:
        <class 'tuple'> 
        (5, 10, 15, 20, 25)
        5
        10
        15
        20
        25

In [3]:
x = (5, 10, 15, 20, 25)
print(type(x), x)
for item in x:
    print(item)

<class 'tuple'> (5, 10, 15, 20, 25)
5
10
15
20
25

In [4]:
4. Write a Python program to convert a tuple of characters into a string.
    Data:
        x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
    Expected Output:
        volatility

In [4]:
x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
result_string = "".join(x)
print(result_string)

volatality

In [5]:
5. Write a Python program to convert a tuple into a list.
    Data:
        x=(1,2,3)
    Expected Output:
        (1, 2, 3)
        [1, 2, 3]

In [5]:
x = (1, 2, 3)
print(x)
y = list(x)
print(y)

(1, 2, 3)
[1, 2, 3]

In [6]:
6. Write a Python program to remove an element from a tuple.
    Data:
        x = ("a","b","c","d")
    Expected Output:
        ('a', 'b', 'd')

In [6]:
x = ("a", "b", "c", "d")
b = tuple(item for item in x if item != "c")
print(b)

('a', 'b', 'd')

In [7]:
7. Write a Python program to find the length of a tuple.
    Data:
        x = ("positions")
    Expected Output:
        ('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
        9

In [7]:
x = ("positions")
tuple_x = tuple(x)
length_x = len(tuple_x)

print(tuple_x, length_x)

('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's') 9

In [8]:
8. Write a Python program to convert a tuple into a dictionary.
    Data:
        x = ((2, "w"),(3, "r"))
    Expected Output:
        {'w': 2, 'r': 3}

In [8]:
x = ((2, "w"), (3, "r"))
dictionary = dict(x)
print(dictionary)

{2: 'w', 3: 'r'}

In [9]:
9. Write a Python program to reverse the tuple elements.
    Data:
        x = ("Baskar")
        x = (5, 10, 15, 20)
    Expected Output:
        ('r', 'a', 'k', 's', 'a', 'B')
        (20, 15, 10, 5)

In [9]:
x = "Baskar"
tuple_x = tuple(x)
reversed_tuple_x = tuple_x[::-1]
print(reversed_tuple_x)
 

x = (5, 10, 15, 20)
reversed_x = x[::-1]
print(reversed_x)

('r', 'a', 'k', 's', 'a', 'B')
(20, 15, 10, 5)

In [10]:
10. Write a Python program to unpack a tuple in several variables.  
    Data:
        x = 4, 8, 3
    Expected Output:
        (4, 8, 3)
        15

In [10]:
x = (4, 8, 3)
a, b, c = x
print(x, a + b + c)

(4, 8, 3) 15

In [1]:
11. Write a Python program to create a nested tuple.
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        ('Boss', [8, 4, 6], (1, 2, 3))

In [11]:
x = ("Boss", [8, 4, 6], (1, 2, 3))


print(x)

('Boss', [8, 4, 6], (1, 2, 3))

In [2]:
12. Write a Python program to convert a string into a tuple.
    Data:
        x = ("hello")
    Expected Output:
        <class 'str'>
        <class 'tuple'>

In [15]:
x="hello"
print(type(x))
x=tuple(x)
print(type(x))

<class 'str'>
<class 'tuple'>

In [12]:

x = "hello"


print(type(x))

y = tuple(x)

print(type(y))

<class 'str'>
<class 'tuple'>

In [ ]:
13. Write a Python program to access tuple elements using index. Data: x = ('B','a','s','k','a','r') Expected Output: x[0] is : B x[5] is : r

In [16]:
x = ('B','a','s','k','a','r')
print("x[0] is :", x[0])
print("x[5] is :", x[5])

x[0] is : B
x[5] is : r

In [4]:
14. Write a Python program to access nested tuple elements using index. 
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        x[0][3] is : s
        x[1][1] is : 4

In [17]:
x = ("Boss", [8, 4, 6], (1, 2, 3))
 
print("x[0][3] is :", x[0][3])
print("x[1][1] is :", x[1][1])

x[0][3] is : s
x[1][1] is : 4

In [5]:
15. Write a Python program to access tuple elements using negative index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[-1] is : r
        x[-6] is : B

In [18]:
x = ('B','a','s','k','a','r')
print("x[-1] is :", x[-1])
print("x[-6] is :", x[-6])

x[-1] is : r
x[-6] is : B

In [6]:
16. Write a Python program to use + and * operators in a tuple and print the results in tuple.
    Data:
        x : (1, 12, 123)
        y : (4, 9)    
    Expected Output:
        z = x + y : (1, 12, 123, 4, 9)
        z * 3 : (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [19]:

x = (1, 12, 123)
y = (4, 9)


z_concatenation = x + y
print(f"z = x + y : {z_concatenation}")


z_repetition = z_concatenation * 3
print(f"z * 3 : {z_repetition}")

z = x + y : (1, 12, 123, 4, 9)
z * 3 : (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [7]:
17. Write a Python program to print each elements of a tuple using for loop.
    Data:
        Tuple x = ('boss','sai')
    Expected Output:
        Hello boss
        Hello bala

In [20]:
x = ('boss', 'sai')

for name in x:
    if name == 'boss':
        print(f"Hello {name}")
    elif name == 'sai':
        print("Hello bala")

Hello boss
Hello bala

In [8]:
18. Write a Python program to print the count of 'p' and the index of 'l' from the given tuple using tuple methods.
    Data: 
        x = ('a', 'p', 'p', 'l', 'e')
    Expected Output:
        Count of p is : 2
        Index of l is : 3

In [22]:
x = ('a', 'p', 'p', 'l', 'e')
count_p = x.count('p')
index_l = x.index('l')

print(f"Count of p is : {count_p}")
print(f"Index of l is : {index_l}")

Count of p is : 2
Index of l is : 3

In [9]:
19. Write a Python program to update an element of a given tuple from 7 to 77.
    Data:
        x = (1, [9, 8, 7], "boss")
    Expected Output:
        (1, [9, 8, 7], 'boss')
        (1, [9, 8, 77], 'boss')

In [23]:
x = (1, [9, 8, 7], "boss")
print(x)
x[1][2] = 77
 
print(x)

(1, [9, 8, 7], 'boss')
(1, [9, 8, 77], 'boss')

In [ ]:
20. Write a Python program to slice a tuple.
    Data: 
        x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
    Expected Output:
        (11, 22, 33, 44, 55, 66, 77, 88, 99)
        (33, 44, 55)
        (11, 22, 33, 44)
        (55, 66, 77, 88, 99)
        (55, 66, 77, 88)
        (11, 22, 33, 44, 55, 66, 77, 88, 99)

In [24]:
x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(x)
print(x[2:5])
print(x[:4])
print(x[4:])
print(x[4:8])
print(x[:])

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)